version: '3'

volumes:
  mysql_data:
    driver: local

services:
  mysql:
    image: mysql/mysql-server:8.0.21
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    volumes:
        - mysql:/var/lib/mysql
    ports:
        - 3306:3307
    environment: 
       MYSQL_ROOT_PASSWORD: root
       MYSQL_DATABASE: keycloak
       MYSQL_USER: keycloak
       MYSQL_PASSWORD: password
      
  keycloak:
      image: jboss/keycloak:12.0.2
      command: "-Dkeycloak.migration.action=import -Dkeycloak.migration.provider=dir -Dkeycloak.migration.dir=/opt/jboss/keycloak/import-dir -Dkeycloak.migration.strategy=OVERWRITE_EXISTING  -Dkeycloak.profile.feature.upload_scripts=enabled"
      environment: 
        KEYCLOAK_USER: admin
        KEYCLOAK_PASSWORD: password
        DB_VENDOR: MYSQL
        DB_ADDR: mysql
        DB_DATABASE: keycloak
        DB_USER: keycloak
        DB_PASSWORD: password
      volumes:
        - ./config/import-dir:/opt/jboss/keycloak/import-dir
        - ./config/export-dir:/opt/jboss/keycloak/export-dir
      ports:
        - 8082:8080
      depends_on:
        - mysql
